name: 'test'

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Check docker-compose setup
        run: |
          touch geoip.env github_token.env imbridge.env
          docker compose config
          docker compose -f docker-compose.dev.yml config
