name: 'mirrors'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *'

jobs:
  mirrors:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 ca-certificates

      - name: Test mirrors
        run: |
          python3 -m unittest tests/test_mirrors.py
