name: 'server'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *'

permissions:
  contents: read

jobs:
  server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y rsync python3 ca-certificates faketime

      - name: Test server
        run: |
          faketime -f "+7d" python3 -m unittest tests/test_server.py
